@import '../../static/style/variables.scss';

.education {
  justify-content: space-around;

  > div {
    padding: $spacing;
    flex: 1;
  }

  > div:nth-child(1) {
    background-color: $forth-color;
  }

  > div:nth-child(2) {
    background-color: $white;
  }

  .education--grid {
    flex-direction: column;

    > div {
      margin-bottom:$spacing / 2;
    }
  }
}
