$tablet: 600px;

$spacing: 50px;

$white: #fff;
$black: #000;
$primary-color: #004BA8;
$secondary-color: #255C99;
$tertiary-color: #337ACA;
$forth-color: #4A525A;

// z index's
$z-index-4: 4;
$z-index-3: 3;
$z-index-2: 2;
$z-index-1: 1;
